$color-primary-blue: hsl(233, 26%, 24%);
$color-primary-green: hsl(136, 65%, 51%);
$color-primary-cyan: hsl(192, 70%, 51%);
$color-neutral-gray-blue: hsl(233, 8%, 62%);
$color-neutral-light-gray-blue: hsl(220, 16%, 96%);
$color-neutral-light-gray: hsl(0, 0%, 98%);
$color-neutral-white: hsl(0, 0%, 100%);
$font-size-main: 18px;
$font-size-small: 14px;
$font-family: "Public Sans", Arial, sans-serif;

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 17px;
    text-align: center;
    color: $color-primary-blue;
}

p {
    font-size: 14px;
    line-height: 23px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
    color: $color-neutral-gray-blue;
}
