@import "form";
@import "nav";
@import "text";
@import "footer";

$color-primary-blue: hsl(233, 26%, 24%);
$color-primary-green: hsl(136, 65%, 51%);
$color-primary-cyan: hsl(192, 70%, 51%);
$color-text-main: hsl(233, 8%, 62%);
$color-bg-gray: hsl(220, 16%, 96%);
$color-bg-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);
$font-family: "Public Sans", Arial, sans-serif;

body {
    font-family: $font-family;
    margin: 0;
    background-color: $color-bg-light;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    background-color: $color-white;
}

.section-padding {
    padding-right: 25px;
    padding-left: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.bg-image {
    position: relative;
    top: 0;
    width: 100%;
    height: 386px;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.bg-devices {
    position: relative;
    top: -56px;
    display: block;
    width: 91%;
    max-width: 342px;
    height: auto;
    margin: 0 auto;
}

.intro-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
}

.features-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 38px;
    padding-bottom: 46px;
    background-color: $color-bg-gray;
}

.features-container {
    margin-top: 55px;
    gap: 11px;
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.articles-section {
    padding-top: 64px;
    padding-bottom: 115px;
}

.articles-container {
    display: grid;
    margin-top: 31px;
    grid-template-columns: 1fr;
    gap: 51px;
}

.article {
    border-radius: 4px;
    background-color: $color-white;
    &__cover {
        overflow: hidden;
        width: 100%;
        height: 200px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        margin-right: 32px;
        margin-left: 32px;
    }

    &__author {
        font-size: 10px;
        margin-top: 22px;
        margin-bottom: 3px;
        text-align: left;
        color: $color-text-main;
    }

    &__title {
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 6px;
        text-align: left;
    }

    &__body {
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: left;
    }
}

// *********************************************************
// Tablet - small
@media only screen and (min-width: 426px) {
    h1,
    h2,
    h3 {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .section-padding {
        padding-right: 50px;
        padding-left: 50px;
        > p {
            max-width: 450px;
        }
    }

    .nav-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        a {
            line-height: 70px;
        }
    }

    .bg-image {
        top: 64px;
        height: 482px;
    }

    .bg-devices {
        top: -25px;
    }
}

// *********************************************************
// Tablet - large
@media only screen and (min-width: 580px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        padding-top: 60px;
        padding-bottom: 40px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        .logo {
            align-self: center;
            grid-column: 1;
            grid-row: 1;
        }

        .social-links {
            grid-column: 1;
            grid-row: 2;
        }

        .footer-nav {
            grid-column: 1;
            grid-row: 3;
        }

        .button {
            margin-right: 0;
            margin-left: auto;
            grid-column: 2;
            grid-row: 1;
        }

        .copyright {
            margin: 0;
            margin-left: auto;
            text-align: right;
            grid-column: 2;
            grid-row: 2;
        }

        .attribution {
            margin: 0;
            text-align: right;
            grid-column: 2;
            grid-row: 3;
        }
    }

    .features-container {
        gap: 50px;
    }

    .articles-container {
        gap: 20px;
    }
}

// *********************************************************
// Desktop - small
@media only screen and (min-width: 769px) {
    %heading {
        text-align: left;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 23px;
        margin-top: 40px;
    }

    h1,
    h2,
    h3 {
        margin-left: 0;
        text-align: left;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin-top: 9px;
        text-align: left;
    }

    header {
        height: 80px;
    }

    nav {
        position: initial;
        top: 0;
        left: 0;
        width: 400px;
        transition: none;
        transform: translate(0, 0);
        background-color: transparent;
    }

    .section-padding {
        padding-right: 70px;
        padding-left: 70px;
        > p {
            max-width: 640px;
        }
    }

    .nav-button {
        display: none;
    }

    .nav-list {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0;
        transition: none;
        a {
            line-height: initial;
        }
    }

    .bg-image {
        position: absolute;
        top: -180px;
        right: 0;
        overflow: hidden;
        width: 56.5vw;
        height: 1034px;
        background-image: url("../images/bg-intro-desktop.svg");
        background-position: left;
    }

    .bg-devices {
        position: absolute;
        top: 137px;
        right: -128px;
        width: 53vw;
        max-width: none;
        height: auto;
    }

    .intro-section {
        align-items: flex-start;
        width: 36vw;
        max-width: 500px;
        padding-top: 250px;
        padding-bottom: 152px;
    }

    .features-section {
        align-items: flex-start;
        padding-top: 75px;
    }

    .feature {
        align-items: flex-start;

        p {
            margin-top: 0;
        }
    }

    .articles-section {
        padding-bottom: 88px;
    }

    .articles-container {
        margin-top: 48px;
    }

    .article {
        p {
            margin-right: 25px;
            margin-left: 25px;
        }

        &__author {
            margin-bottom: 0;
        }
    }
}

// *********************************************************
// Desktop - large
@media only screen and (min-width: 1025px) {
    header .button {
        display: block;
    }

    nav {
        width: 330px;
    }

    footer {
        padding-top: 48px;
        grid-template-columns: 160px repeat(2, 1fr) 300px;
        justify-items: start;
        column-gap: 128px;
    }

    .section-padding {
        padding-right: 164px;
        padding-left: 164px;
    }

    .features-container {
        margin-top: 50px;
    }

    footer {
        .logo {
            align-self: start;
        }

        .social-links {
            width: 158px;
        }

        .footer-nav {
            display: grid;
            width: 360px;
            text-align: left;
            grid-column: 2 / 4;
            grid-row: 1 / 3;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-auto-flow: column;
            row-gap: 5px;
        }

        .button {
            grid-column: 4;
            grid-row: 1;
        }

        .copyright {
            grid-column: 4;
            grid-row: 2;
        }

        .attribution {
            margin-left: auto;
            grid-column: 4;
            grid-row: 3;
        }

        p,
        a {
            font-size: 13px;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
}

// *********************************************************
// Desktop - 4K
@media only screen and (min-width: 1441px) {
    .section-padding {
        padding-right: 15vw;
        padding-left: 15vw;
    }

    .bg-devices {
        right: -30%;
        left: -10%;
        width: 763px;
    }
}
