// Section and layout styles applied universally

$color-primary-blue: hsl(233, 26%, 24%);
$color-primary-green: hsl(136, 65%, 51%);
$color-primary-cyan: hsl(192, 70%, 51%);
$color-text-main: hsl(233, 8%, 62%);
$color-bg-gray: hsl(220, 16%, 96%);
$color-bg-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);
$font-family: "Public Sans", Arial, sans-serif;

.section-padding {
    padding-right: 7vw;
    padding-left: 7vw;
}

// *********************************************************
// Tablet - small
@media only screen and (min-width: 426px) {
    .section-padding {
        > p {
            max-width: 450px;
        }
    }
}

// *********************************************************
// Desktop - small
@media only screen and (min-width: 769px) {
    .section-padding {
        padding-right: 11.4vw;
        padding-left: 11.4vw;
        > p {
            max-width: 640px;
        }
    }
}
