body {
  font-family: "Public Sans", Arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
}

.button {
  font-size: 14px;
  font-weight: bold;
  width: 164px;
  height: 44px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: #2bb7da;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(125%) saturate(50%);
          filter: brightness(125%) saturate(50%);
}

.logo {
  width: 139px;
  height: 20px;
}

.section {
  max-width: 1110px;
  margin: 0 auto;
  padding-right: 164px;
  padding-left: 164px;
}

.section--wrapped {
  max-width: initial;
  margin: 0;
}

.section--wrapped .section__wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.section--full-width {
  max-width: initial;
}

.main-text {
  font-size: 18px;
  line-height: 30px;
  color: #9698a6;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  background-color: white;
}

nav {
  width: 50%;
  max-width: 330px;
}

.nav-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
  justify-items: center;
}

.nav-list__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.nav-list__item a {
  text-decoration: none;
  color: #9698a6;
}

.nav-list__item a:hover {
  padding-bottom: 29px;
  color: #2d314d;
  border-bottom: 3px solid #31d35c;
}

.nav-button {
  display: none;
  width: 24px;
  height: 19px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav-button--open-nav {
  background-image: url("../images/icon-close.svg");
}

.nav-cover {
  position: fixed;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 117, 117, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(189, 189, 214, 0)), to(rgba(25, 37, 103, 0.562)));
  background-image: linear-gradient(0deg, rgba(189, 189, 214, 0) 0%, rgba(25, 37, 103, 0.562) 100%);
}

.nav-cover--open-nav {
  display: block;
}

.intro-section {
  padding-top: 180px;
  padding-bottom: 170px;
}

.bg-image-container {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 75%;
  height: 1000px;
}

.bg-image {
  position: absolute;
}

.bg-image--desktop {
  z-index: -1;
  top: -175px;
  left: 23%;
  width: 1271px;
  height: 1034px;
}

.bg-image--mobile {
  z-index: -1;
  display: none;
}

.bg-image--devices {
  z-index: 1;
  top: -44px;
  left: 36%;
  width: 767px;
  height: 939px;
}

.document-intro {
  width: 45%;
  max-width: 450px;
}

.document-intro__title {
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 34px;
  color: #2d314d;
}

.document-intro__body {
  margin: 0 0 40px;
}

.features-section {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #f3f4f6;
}

.features-section .section-intro {
  margin-bottom: 70px;
}

.section-intro {
  max-width: 660px;
}

.section-intro__title {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 34px;
  color: #2d314d;
}

.section-intro__body {
  margin: 0;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 250px))[4];
      grid-template-columns: repeat(4, minmax(auto, 250px));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 35px;
}

.feature__icon {
  width: 72px;
  height: 72px;
}

.feature__title {
  font-size: 22px;
  font-weight: 400;
  margin: 45px 0 35px;
  color: #2d314d;
}

.feature__body {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #9698a6;
}

.articles-section {
  padding-top: 100px;
  padding-bottom: 80px;
}

.articles-section .section-intro {
  margin-bottom: 50px;
}

.articles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1fr))[4];
      grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 30px;
}

.article-preview {
  background-color: white;
}

.article-preview__cover {
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-preview__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-preview__author {
  font-size: 12px;
  margin: 30px 25px 15px;
  color: #9698a6;
}

.article-preview__title {
  font-size: 16px;
  line-height: 22px;
  margin: 0 25px 12px;
}

.article-preview__title a {
  text-decoration: none;
  color: #2d314d;
}

.article-preview__title a:hover {
  color: #31d35c;
}

.article-preview__body {
  font-size: 14px;
  line-height: 18px;
  margin: 0 25px;
  padding-bottom: 25px;
  color: #9698a6;
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2d314d;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

footer ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

footer .logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer .button {
  margin-left: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #31d35c;
}

.footer-nav {
  display: -ms-grid;
  display: grid;
  max-width: 290px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-columns: (110px)[2];
      grid-template-columns: repeat(2, 110px);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -webkit-column-gap: 90px;
          column-gap: 90px;
  row-gap: 15px;
  grid-auto-flow: column;
}

.footer-nav__item {
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 155px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.social-links__item {
  position: relative;
  width: 20px;
  height: 20px;
}

.social-links__item a {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}

.social-links__item a:hover {
  -webkit-filter: brightness(50%) sepia(100%) saturate(330%) hue-rotate(83.5deg);
          filter: brightness(50%) sepia(100%) saturate(330%) hue-rotate(83.5deg);
}

.social-links__item a img {
  width: 100%;
  height: 100%;
}

.copyright {
  text-align: right;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

.attribution {
  text-align: left;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.footer-p {
  font-size: 16px;
  margin: 0;
  color: #9698a6;
}

@media only screen and (max-width: 1180px) {
  .features-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -ms-grid-columns: (minmax(auto, 250px))[2];
        grid-template-columns: repeat(2, minmax(auto, 250px));
    grid-auto-rows: auto;
  }
  .articles-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (minmax(auto, 1fr))[2];
        grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media only screen and (max-width: 1024px) {
  .section {
    padding-right: 100px;
    padding-left: 100px;
  }
  header .button {
    display: none;
  }
  .feature {
    margin-right: auto;
    margin-left: auto;
  }
  footer .button {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .footer-nav {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .copyright {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .attribution {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding-right: 64px;
    padding-left: 64px;
  }
  header {
    height: 64px;
  }
  nav {
    display: none;
  }
  .nav-button {
    display: block;
  }
  .intro-section {
    padding-top: 0;
  }
  .document-intro {
    width: initial;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .bg-image-container {
    position: relative;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: -64px;
    margin-left: -64px;
  }
  .bg-image {
    position: relative;
  }
  .bg-image--desktop {
    display: none;
  }
  .bg-image--mobile {
    right: 0;
    display: block;
    width: 100%;
    height: auto;
  }
  .bg-image--devices {
    position: absolute;
    top: -126px;
    right: 0;
    left: 0;
    width: 94%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .features-section {
    text-align: center;
  }
  .features-section .section-intro {
    margin-bottom: 60px;
  }
  .features-container {
    -ms-grid-columns: minmax(auto, 250px);
        grid-template-columns: minmax(auto, 250px);
  }
  .feature__title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .articles-section .section-intro {
    text-align: center;
  }
  .articles-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 25px;
  }
  footer .button {
    margin-left: 0;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer-nav {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .social-links {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .copyright {
    text-align: left;
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .attribution {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer-nav__item {
    line-height: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .section {
    padding-right: 35px;
    padding-left: 35px;
  }
  .section--full-width {
    padding-right: 24px;
    padding-left: 24px;
  }
  .main-text {
    font-size: 14px;
    line-height: 25px;
  }
  .section-intro {
    margin-bottom: 55px;
    text-align: center;
  }
  .section-intro__title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .document-intro__title {
    font-size: 36px;
    margin-bottom: 26px;
  }
  .document-intro__body {
    margin-bottom: 36px;
  }
  .bg-image-container {
    margin-right: -35px;
    margin-left: -35px;
  }
  .feature__title {
    font-size: 18px;
    margin: 30px 0;
  }
  footer {
    justify-items: center;
  }
  footer .button {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-nav {
    -ms-grid-columns: 110px;
        grid-template-columns: 110px;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-items: center;
  }
  .social-links {
    width: 185px;
  }
  .social-links__item {
    width: 25px;
    height: 25px;
  }
  .footer-p {
    text-align: center;
  }
}
