body {
  font-family: "Public Sans", Arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
}

.button {
  font-size: 14px;
  font-weight: bold;
  width: 164px;
  height: 44px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: #2bb7da;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
}

.logo {
  width: 139px;
  height: 20px;
}

.section {
  padding: 0 164px;
}

.section__wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.section--main {
  max-width: 1110px;
  margin: 0 auto;
}

.main-text {
  font-size: 18px;
  line-height: 30px;
  color: #9698a6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  background-color: white;
}

nav {
  width: 50%;
  max-width: 330px;
  margin: 0 20px;
}

.nav-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
  justify-items: center;
}

.nav-list__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.nav-list__item a {
  text-decoration: none;
  color: #9698a6;
}

.intro {
  padding-top: 180px;
  padding-bottom: 170px;
}

.document-intro {
  max-width: 450px;
}

.document-intro__title {
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 34px;
  color: #2d314d;
}

.document-intro__body {
  margin: 0 0 40px;
}

.features {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #f3f4f6;
}

.features .section-intro {
  margin-bottom: 70px;
}

.section-intro {
  max-width: 660px;
}

.section-intro__title {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 34px;
  color: #2d314d;
}

.section-intro__body {
  margin: 0;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 230px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(auto, 230px));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 35px;
}

.feature {
  max-width: 250px;
}

.feature__icon {
  width: 72px;
  height: 72px;
}

.feature__title {
  font-size: 22px;
  font-weight: 400;
  margin: 45px 0 35px;
  color: #2d314d;
}

.feature__body {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #9698a6;
}

.articles {
  padding-top: 100px;
  padding-bottom: 80px;
}

.articles .section-intro {
  margin-bottom: 50px;
}

.articles-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-columns: (255px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 255px);
  gap: 30px;
}

.article-preview {
  background-color: white;
}

.article-preview__cover {
  overflow: hidden;
  width: 100%;
  height: 200px;
  white-space: nowrap;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-preview__cover img {
  width: auto;
  height: 100%;
}

.article-preview__author {
  font-size: 12px;
  margin: 30px 25px 15px;
  color: #9698a6;
}

.article-preview__title {
  font-size: 16px;
  line-height: 22px;
  margin: 0 25px 12px;
  color: #2d314d;
}

.article-preview__body {
  font-size: 14px;
  line-height: 18px;
  margin: 0 25px;
  padding-bottom: 25px;
  color: #9698a6;
}

.attribution {
  font-size: 18px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1024px) {
  .section {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding-right: 64px;
    padding-left: 64px;
  }
  header .button {
    display: none;
  }
  nav {
    display: none;
  }
  .document-intro {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .features-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features {
    text-align: center;
  }
  .features .section-intro {
    margin-bottom: 60px;
  }
  .feature__title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .articles .section-intro {
    text-align: center;
  }
  .articles-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .section {
    padding-right: 35px;
    padding-left: 35px;
  }
  .section--full-width {
    padding-right: 24px;
    padding-left: 24px;
  }
  .main-text {
    font-size: 14px;
    line-height: 25px;
  }
  .section-intro {
    margin-bottom: 55px;
    text-align: center;
  }
  .section-intro__title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .document-intro__title {
    font-size: 36px;
    margin-bottom: 26px;
  }
  .document-intro__body {
    margin-bottom: 36px;
  }
  .features-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature__title {
    font-size: 18px;
    margin: 30px 0;
  }
}
